identity:
  serviceAccountKey: ${REPORTING_KEY}
metrics:
  bufferSeconds: 10
  definitions:
  - name: requests
    billingName: com.googleapis/services/test-marketplace-whitebox-usage/Requests
    type: int
endpoints:
- name: on_disk
  disk:
    reportDir: /tmp/ubbdemo/reports
    expireSeconds: 3600
- name: chemist
  servicecontrol:
    serviceName: wordpress.ubb-widgetsinc.appspot.com
    consumerId: ${CONSUMER_ID}
